<ng-container *ngIf="!isObject(dataDetails)">
  <span *ngIf="!loading" class="ms-3">{{dataDetails}}</span>
    <ngx-skeleton-loader appearance="line" [theme]="{height: '1rem', width:'12rem', margin:'0rem 0rem 0rem 1rem'}" *ngIf="loading"/>
</ng-container>
<ng-container *ngIf="isObject(dataDetails)">
  <br>
  <div *ngFor="let path of deepDisplay">
  <ul *ngIf="isObject(dataDetails) && !isObject(getValueByPath(dataDetails, path.value))" class="d-flex">
    <li>{{ path.name }} : <span *ngIf="!loading">{{ getValueByPath(dataDetails, path.value) }}</span></li>
    <ngx-skeleton-loader appearance="line" [theme]="{height: '1rem', width:'12rem', margin:'0rem 0rem 0rem 1rem'}" *ngIf="loading"/>
  </ul>
</div>
</ng-container>
