<table class="table">
  <thead>
  <tr>
    <th *ngFor="let header of headers" scope="col">{{header.name}}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let row of getCurrentPageItems(); let i = index">
    <tr data-toggle="collapse" [attr.data-target]="'#rowDetails' + i" aria-expanded="false" aria-controls="rowDetails"
        (click)="toggleCollapse(i)">
      <td *ngFor="let header of headers">{{ row[header.value] ?? '-'}}</td>
    </tr>
    <tr>
      <td colspan="4" class="hiddenRow">
        <div id="rowDetails{{ i }}" class="collapse card card-body" [collapse]="collapseStates[i]"
             [@expandCollapse]="collapseStates[i]">
          <div *ngFor="let extra of extras">
            <ng-container [ngTemplateOutlet]="templateRef"
                          [ngTemplateOutletContext]="{ $implicit: '-', extra: extra, row: row }"></ng-container>
          </div>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2 align-content-center">
  <ngb-pagination
    [collectionSize]="data.length"
    [(page)]="page"
    [maxSize]="maxSize"
    [pageSize]="pageSize"
    [rotate]="true"
    (pageChange)="pageChange.emit($event)">
  </ngb-pagination>
  <select name="pageSize" [(ngModel)]="pageSize" class="h-100 align-content-center">
    <option [ngValue]="2">2</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="10">10</option>
  </select>
</div>
