<div class="container">
  <app-expandable-table
  [data]="data"
  [headers]="headers"
  [extras]="extras"
  [singleOpen]="true"
  [templateRef]="templateRef"
  (detailsEmitter)="getDetails($event)"
  [dataDetails]="dataDetails">
  </app-expandable-table>
</div>


<ng-template #templateRef let-detailLabel="detailLabel" let-detailInfo="detailInfo" >
  <p>
    <span>{{detailLabel?.name}}</span> :
    <app-show-data-object *ngIf="isObject(detailInfo[detailLabel?.value])"
                          [data]="detailInfo[detailLabel?.value]" [deepDisplay]="deepDisplay"></app-show-data-object>
  </p>
</ng-template>
